@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	background-color:#ecf7f3;
}
#main{
	margin:auto;
	padding:0;
	text-align:center;
	width:900px;
	background:#FFF;
}
#right{
	 width:700px;
	 height:550px;
	 float:right;
	 padding:50px 0 0 0;
	 background:#FFF;
	 border:1px #CCC solid;
}
#left{
	width:196px;
	float:left;
	height:600px;
	border:1px #CCC solid;
}
form{
	margin:20px 0;
}